# Configuration of the camera
camera :
{
    resolution : { width : 1920.0, height : 1080.0 },
    position : { x : 0.0, y : 0.0, z : 0.0 },
    rotation : { x : 0.0, y : 0.0, z : 0.0 },
    fieldOfView : 90.0 # In degree
};

# Primitives in the scene
primitives :
{
# List of spheres
spheres = (
{ x = 0.0; y = 0.0; z = -1.0; r = 0.5; color = { r = 0.0; g = 188.0; b = 161.0; }; } ,
{ x = 0.0; y = -100.5; z = 5.0; r = 100.0; color = { r = 64.0; g = 255.0; b = 64.0; }; }
) ;
# List of planes
planes = (
{ axis = "Z"; position = -20.0; color = { r = 64.0; g = 64.0; b = 255.0; }; }
) ;
};

lights :
{
    ambient : 0.4, # Multiplier of ambient light
    diffuse : 0.6, # Multiplier of diffuse light
    # List of point lights
    point : ( 
        { x : 400.0, y : 100.0, z : 500.0 },
        { x : 200.0, y : 500.0, z : 1000.0 }
    ),
    # List of directional lights
    directional : ()
};
